root = true

[*]
charset = utf-8
indent_style = space
indent_size = 4
end_of_line = lf
insert_final_newline = true
trim_trailing_whitespace = true

[*.{js,jsx,ts,tsx,vue}]
indent_size = 4

[*.{css,scss,less}]
indent_size = 4

[*.{html,htm}]
indent_size = 4

[*.md]
trim_trailing_whitespace = false 